---
Organizations:
    - &OrdererOrg
      Name: OrdererOrg
      ID: OrdererMSP
      MSPDir: crypto-config/ordererOrganizations/example.com/msp
      Policies:
          Readers:
              Type: Signature
              Rule: "OR('OrdererMSP.member')"
          Writers:
              Type: Signature
              Rule: "OR('OrdererMSP.member')"
          Admins:
              Type: Signature
              Rule: "OR('OrdererMSP.admin')"

    - &Citizen
      Name: CitizenMSP
      ID: CitizenMSP
      MSPDir: crypto-config/peerOrganizations/citizen.example.com/msp
      Policies:
          Readers:
              Type: Signature
              Rule: "OR('CitizenMSP.admin', 'CitizenMSP.peer', 'CitizenMSP.client')"
          Writers:
              Type: Signature
              Rule: "OR('CitizenMSP.admin', 'CitizenMSP.client')"
          Admins:
              Type: Signature
              Rule: "OR('CitizenMSP.admin')"

    - &Police
      Name: PoliceMSP
      ID: PoliceMSP
      MSPDir: crypto-config/peerOrganizations/police.example.com/msp
      Policies:
          Readers:
              Type: Signature
              Rule: "OR('PoliceMSP.admin', 'PoliceMSP.peer', 'PoliceMSP.client')"
          Writers:
              Type: Signature
              Rule: "OR('PoliceMSP.admin', 'PoliceMSP.client')"
          Admins:
              Type: Signature
              Rule: "OR('PoliceMSP.admin')"

    - &Forensics
      Name: ForensicsMSP
      ID: ForensicsMSP
      MSPDir: crypto-config/peerOrganizations/forensics.example.com/msp
      Policies:
          Readers:
              Type: Signature
              Rule: "OR('ForensicsMSP.admin', 'ForensicsMSP.peer', 'ForensicsMSP.client')"
          Writers:
              Type: Signature
              Rule: "OR('ForensicsMSP.admin', 'ForensicsMSP.client')"
          Admins:
              Type: Signature
              Rule: "OR('ForensicsMSP.admin')"

    - &Court
      Name: CourtMSP
      ID: CourtMSP
      MSPDir: crypto-config/peerOrganizations/court.example.com/msp
      Policies:
          Readers:
              Type: Signature
              Rule: "OR('CourtMSP.admin', 'CourtMSP.peer', 'CourtMSP.client')"
          Writers:
              Type: Signature
              Rule: "OR('CourtMSP.admin', 'CourtMSP.client')"
          Admins:
              Type: Signature
              Rule: "OR('CourtMSP.admin')"

    - &IdentityProvider
      Name: IdentityProviderMSP
      ID: IdentityProviderMSP
      MSPDir: crypto-config/peerOrganizations/identityprovider.example.com/msp
      Policies:
          Readers:
              Type: Signature
              Rule: "OR('IdentityProviderMSP.admin', 'IdentityProviderMSP.peer', 'IdentityProviderMSP.client')"
          Writers:
              Type: Signature
              Rule: "OR('IdentityProviderMSP.admin', 'IdentityProviderMSP.client')"
          Admins:
              Type: Signature
              Rule: "OR('IdentityProviderMSP.admin')"

Capabilities:
    Channel: &ChannelCapabilities
        V1_4_3: true
        V1_3: false
        V1_1: false
    Orderer: &OrdererCapabilities
        V1_4_2: true
        V1_1: false
    Application: &ApplicationCapabilities
        V1_4_2: true
        V1_3: false
        V1_2: false
        V1_1: false

Application: &ApplicationDefaults
    Organizations:
    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"

    Capabilities:
        <<: *ApplicationCapabilities

Orderer: &OrdererDefaults
    OrdererType: solo
    Addresses:
        - orderer.example.com:7050
    BatchTimeout: 2s
    BatchSize:
        MaxMessageCount: 10
        AbsoluteMaxBytes: 99 MB
        PreferredMaxBytes: 512 KB

    Kafka:
        Brokers:
            - 127.0.0.1:9092

    Organizations:

    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"
        BlockValidation:
            Type: ImplicitMeta
            Rule: "ANY Writers"

Channel: &ChannelDefaults
    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"
    Capabilities:
        <<: *ChannelCapabilities

Profiles:
    SupplyOrdererGenesis:
        <<: *ChannelDefaults
        Orderer:
            <<: *OrdererDefaults
            Organizations:
                - *OrdererOrg
            Capabilities:
                <<: *OrdererCapabilities
        Consortiums:
            SampleConsortium:
                Organizations:
                    - *Citizen
                    - *Police
                    - *Forensics
                    - *Court
                    - *IdentityProvider
    SupplyChannel:
        Consortium: SampleConsortium
        <<: *ChannelDefaults
        Application:
            <<: *ApplicationDefaults
            Organizations:
                - *Citizen
                - *Police
                - *Forensics
                - *Court
                - *IdentityProvider
            Capabilities:
                <<: *ApplicationCapabilities
